* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    background-color: #000;
    color: #fff;
}


/* banner styling */
.banner {
    width: 100%;
    height: 40rem;
    background-image: url(./assets/background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 14.1%;
    z-index: 1;
    position: relative;
    margin-bottom: 50px;
}
.curve {
    width: 100%;
    height: 120px;
    background-color: #000;
    border-top: 5.5px solid #E50914;
    border-top-left-radius: 96%;
    border-top-right-radius: 96%;
    position: relative;
    opacity: 83%;
    top: 36px;
    text-align: center;
    color: #000;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    padding: 0 148px;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 88px;
    align-items: center;
    margin: 0 0 0 -16px;
}
.logo img {
    width: 186px;
    height: 78px;
}
.cta-btn a {
    text-decoration: none;
    color: #fff;
    background-color: #E50914;
    padding: 7px 14px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}
.cta-btn a:hover {
    background-color: #bb040d;
    transition: 0.9s;
}
.signup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
}
.heading h1 {
    font-size: 3.3rem;
    font-weight: bold;
    line-height: 68px;
}
.heading p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
}

.cta-cont p {
    margin-top: 35px;
    font-size: 0.9rem;
    font-weight: 400;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 60%;
    z-index: -1;
    position: absolute;
    top: 0;
}
.form-cont {
    display: flex;
    align-items: center;
    height: 44px;
    margin-top: 20px;
}
.email-input {
    height: 45px;
    width: 334px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1.9px solid #5B5B5C;
    font-size: 1rem;
    background: #39251c20;
    backdrop-filter: blur(50px);
}
.get {
    width: 211px;
    height: 44px;
    font-size: 1.1rem;
    border-radius: 6px;
    font-weight: 600;
    color: #fff;
    background-color: #E50914;
    border: none;
    margin-left: 5px;
}
.get:hover {
    background-color: #bb040d;
    transition: 0.9s;
    cursor: pointer;
}


/* trending now styling! */
main {
    width: 100%;
    padding: 0 12%;
}
.trending-now {
    width: 100%;
    color: #fff;
    margin-top: 50px;
}
.trending-now h2 {
    margin-bottom: 50px;
    font-size: 1.8rem;
}
.join {
    margin-bottom: 50px;
}
.carousel {
    width: 100%;
    display: flex;
    gap: 5.8%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.card {
    width: 200px;
    height: 302px;
    padding: 0 22px;
    color: #000;
}
.card-img img {
    width: 180px;
    height: 252px;
    border-radius: 10px;
}
.card span {
    position: relative;
    bottom: 125px;
    right: 25px;
    font-size: 4.8rem;
    -webkit-text-stroke: #fff 2px ;
}


/* more reason to join section styling */
.more-reasons {
    width: 100%;
}
.more-reasons h2 {
    margin-top: 80px;
    font-size: 1.8rem;
}
.box {
    width: 24.5%;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86% );
    height: 330px;
    border-radius: 10px;
    padding: 0 15px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-heading h2 {
    font-size: 1.5rem;
    position: relative;
    bottom: 40px;
    padding-left: 17px;
    margin-bottom: 15px;
}
.box-p {
    color: #BBBCC4;
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
    bottom: 16%;
    padding-left: 15px;
}
.box svg {
   float: right;
   padding: 0 10px 15px 0;
}
.flex-box {
    width: 100%;
    display: flex;
    gap: 1.5%;
}


/* video element styling! */
.trailer {
    display: flex;
    width: 100%;
    margin-top: 60px;
}
.trailer-content h4 {
    font-size: 1.8rem;
    margin-bottom: 30px;
}
.trailer-content p {
    font-size: 1.1rem;
}
.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.video-player video {
    position: absolute;
    z-index: -1;
}


/* FAQ section styling! */
.faq {
    width: 100%;
    margin-top: 100px;
}
details {
    background-color: #2D2D2D;
    padding: 20px 20px;
    width: 100%;
    border-bottom: 5px solid #000;
}
details:hover {
    background-color: #575454;
    cursor: pointer;
    transition: 0.9s;
}
details p {
    margin-top: 20px;
    font-size: 1.1rem;
    padding-top: 16px;
}
summary{
    font-size: 1.9rem;
    font-weight: 400;
}
.top {
    border-top: 1.5px solid #000;
    width: 100%;
}


/*  second signup form! */
.second-form {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}


/* footer section styles! */
footer {
    width: 100%;
    padding: 0 12%;
    margin-top: 90px;
}
footer a {
    color: #B3B3B3;
    font-size: 1.1rem;
}
.links a {
    text-decoration: underline;
    line-height: 30px;
    font-size: 0.9rem;
}
.links-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.links {
    display: flex;
    flex-direction: column;
}
.drop-select {
    margin-top: 60px;
    width: 100%;
    margin-bottom: 60px;
}
.drop-select p {
    font-size: 16px;
    color: #B3B3B3;
    margin-top: 60px;
}
.call-q {
    color: #B3B3B3;
}
select {
    padding: 8px 30px;
    background: #000;
    color: #fff;
    border: 1.5px solid #B3B3B3;
    border-radius: 4px;
}
.last {
    color: #808080;
    font-size: 14px;
    margin-top: 30px;
}
.learn {
    color: #398ecd;
    text-decoration: underline;
}
.dis-section {
    width: 100%;
    margin-top: 50px;
}
.disclaimer {
    font-size: 3rem;
    color: #bb040d;
}